      <div id="hello-bar">
	<div id="hello-bar-greeting"><a href="/signin" title="">sign in</a> | <a href="/signup" title="">sign up</a></div>
	<div id="hello-bar-action"  >(<a href="/signout" title="">sign out</a>)</div>
      </div>
